@import "../../utils/variables.scss";

.navigation-bar {
  background-color: #12131c;
}

.nav-brand {
  color: $white-text;
  font-size: 18px;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.logo-container {
  width: 30px;
  height: 30px;
  margin-right: 7px;
}
